*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#0b0b0b;
color:white;
}


nav{
display:flex;
justify-content:center;
gap:30px;
padding:25px;
}


nav a{
color:white;
text-decoration:none;
}


.hero, section{
max-width:900px;
margin:100px auto;
text-align:center;
}


h1{
font-size:60px;
margin-bottom:20px;
}


p{
font-size:20px;
color:#aaa;
line-height:1.6;
}


.button{
display:inline-block;
margin-top:30px;
padding:15px 30px;
background:white;
color:black;
text-decoration:none;
border-radius:10px;
}


video{
margin-top:40px;
width:80%;
border-radius:15px;
}
